---
layout: hf
title: Home

description:
subname: Контактная информация   
person: Гребенюков Сергей
addres: 190103 Лермонтовский пр-кт
            Санкт-Петербург
phone: 8(900) 658-65-54
email: prince.sitri@yandex.ru
---

   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <p>{{page.description}}
             </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>{{page.subname}}</h2>
                  <p class="address">
						   <span>{{page.person}}</span><br>
						   <span>{{page.addres}}
                     </span><br>
						   <span>{{page.phone}}</span><br>
                     <span>{{page.email}}</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="#" class="button"><i class="fa fa-download"></i>Скачать резюме</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Образование</span></h1>
         </div>

         <div class="nine columns main-col">
             
             {% for item in site.data.education %}
    <div class="row item">

               <div class="twelve columns">

                  <h2>{{item.level}}</h2>
                  <p class="info">{{ item.name }}, {{item.speciality}} <span>&bull;</span> <em class="date">{{item.time}}</em></p>

                  <p>
                  
                  </p>

               </div>

            </div>
  {% endfor %}

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Работа</span></h1>
         </div>

         <div class="nine columns main-col">

           {% for item in site.data.work %}
    <div class="row item">

               <div class="twelve columns">

                  <h2>{{item.name}}</h2>
                  <p class="info">{{ item.position }}<span>&bull;</span> <em class="date">{{item.time}}</em></p>

                  <p>
                  
                  </p>

               </div>

            </div>
  {% endfor %}

         </div> <!-- main-col end -->

      </div> <!-- End Work -->
       
       <div class="row work">

         <div class="three columns header-col">
            <h1><span>Проекты</span></h1>
         </div>

         <div class="nine columns main-col">

              {% for item in site.data.projects %}
    <div class="row item">

               <div class="twelve columns">

                  <h2>{{item.name}}</h2>
                  <p class="info">{{ item.technology }}<span>&bull;</span> <em class="date">{{item.time}}</em></p>

                  <p>
                  
                  </p>

               </div>

            </div>
  {% endfor %}

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Навыки</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>
                
            </p>

				<div class="bars">

				   <ul class="skills">
                        {% for item in site.data.skills %}
					    <li>{{item.ph}}</li>
                        <li>{{item.WP}}</li>
						<li>{{item.CSS}}</li>
						<li>{{item.HTML5}}</li>
                         {% endfor %}
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>